{# About page #}

{% extends "core/base.twig" %}

{% block main %}

	{% if entry.pageBlackWhite %}
		{% set pageColor = 'bg-white text-black' %}
	{% else %}
		{% set pageColor = 'bg-black text-white' %}
	{% endif %}

	<div class="{{ pageColor }}">

		<div class="header-offset"></div>

		{% include "blocks/about-blocks.twig"with {
      blocks: entry.aboutBlocks.all()
    } %}

		<div class="pt-12 lg:pt-0 bg-black"></div>
	</div>

{% endblock %}
