{% set menu = craft.globalSets().handle('menu').one().menu.all() %}

<ul class="nav-menu">

  {% for item in menu %}

    <li class="nav-menu-item">
      <a class="anim-underline-in" href="{{ item.url }}">
        {{ item.title }}
      </a>
    </li>

  {% endfor %}

</ul>
