{% if sectionClass is not defined %}
	{% set sectionClass = [''] %}
{% endif %}

{% if text is not defined %}
	{% set text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit' %}
{% endif %}

<section class="section-lg {{ sectionClass|join(' ') }}">
	<div class="container">

		<div class="anim-move-in">

			{% for item in services.all() %}

				<div class="row mb-1">
					<div class="col w-full md:w-10/12 md:ml-1/12 lg:ml-2/12">
						<p class="font-body font-bold">
							Strategy
						</p>
					</div>
				</div>

				<div class="row  {% if loop.index < services|length %}mb-12 md:mb-20{% endif %}">
					<div class="col w-full md:w-5/12 md:ml-1/12 lg:w-4/12 lg:ml-2/12">
						<p class="font-body">We ask questions, find answers and define goals that we’ll reach with a clear and thoughtful strategy.</p>
					</div>

					<div class="col w-full pt-6 md:pt-0 md:w-5/12 md:ml-1/12 lg:w-4/12 lg:ml-0">
						<p class="font-sub text-grey">
							Branding<br>
							Communcation Strategy<br>
							Analysis
						</p>
					</div>
				</div>

			{% endfor %}

		</div>

	</div>
</section>
