{% if sectionClass is not defined %}
	{% set sectionClass = [''] %}
{% endif %}

{% if text is not defined %}
	{% set text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit' %}
{% endif %}

<section class="section-lg {{ sectionClass|join(' ') }} about-services">
	<div class="container">

		<div class="anim-move-in">
			<div class="row">

				{% for item in services.all() %}

					{% if loop.index is odd %}
						{% set marginLeft = "md:ml-1/12 lg:ml-2/12 fw:ml-3/12" %}
					{% else %}
						{% set marginLeft = "" %}
					{% endif %}

					<div class="col w-full md:w-5/12 lg:w-4/12 fw:w-3/12 {{ marginLeft }}">
						<p class="font-h3 pb-4 lg:pb-6">
							{{ item.header }}
						</p>
						<div class="font-body about-services">
							{{ item.text|nl2br }}
						</div>
					</div>

				{% endfor %}

			</div>
		</div>

	</div>
</section>
