<section class="section">

    <div class="container">
      <div class="row">
        <div class="col w-full">

          {% include "components/figure.twig" with {
            figureClass: 'square'
          } %}

        </div>
      </div>
    </div>

</section>