{% if sectionClass is not defined %}
  {% set sectionClass = [""] %}
{% endif %}

{% if slides is not defined %}
  {% set slides = ["", "", ""] %}
{% endif %}

<section class="section-sm {{ sectionClass|join(' ') }}">
  <div class="container">

    <!-- Slider main container -->
    <div class="slider swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->

        {% for slide in slides %}

          <div class="swiper-slide">
            {% include "components/figure.twig" with {
              size : "wide",
              ratio: "strict",
              orientation: "landscape",
              image: slide
            } %}
          </div>

        {% endfor %}
      </div>

      <!-- If we need navigation buttons -->
      <div class="slider-button-prev">
        {% include "svg/arrow-left.twig" %}
      </div>
      <div class="slider-button-next">
        {% include "svg/arrow-right.twig" %}
      </div>
    </div>

  </div>
</section>