{% if sectionClass is not defined %}
	{% set sectionClass = [""] %}
{% endif %}

{% if slides is not defined %}
	{% set slides = ["", "", ""] %}
{% endif %}

<section
	class="section-sm {{ sectionClass|join(' ') }}">

	<!-- Slider main container -->
	<div
		class="slider fluid swiper-container">
		<!-- Additional required wrapper -->
		<div
			class="swiper-wrapper">
			<!-- Slides -->

			{% for slide in slides %}

				<div class="swiper-slide margin">
					{% include "components/figure.twig" with {
            size : "margin",
            ratio: "original",
            image: slide
          } %}
				</div>

			{% endfor %}

		</div>

		<!-- If we need navigation buttons -->
		<div class="slider-button-prev">
			{% include "svg/arrow-left.twig" %}
		</div>
		<div class="slider-button-next">
			{% include "svg/arrow-right.twig" %}
		</div>

	</div>

</section>
