{% if sectionClass is not defined %}
  {% set sectionClass = [''] %}
{% endif %}

{% if client is not defined %}
  {% set client = 'Client name' %}
{% endif %}


<section class="section-md {{ sectionClass|join(' ') }}">
  <div class="container">

    <div class="row">
      <div class="col w-6/12 lg:w-2/12 lg:ml-2/12 fw:w-3/24 fw:ml-3/12">
        <p class="font-sub">
          Client
        </p>
        <p class="font-sub text-grey">
          {{ client }}
        </p>
      </div>
      <div class="col w-6/12 lg:w-2/12">
        <p class="font-sub">
          Services
        </p>
        <p class="font-sub text-grey">
          {% if services is not defined %}
            Strategy<br>Branding<br>Website<br>Copywriting
          {% else %}
            {{ services|nl2br }}
          {% endif %}
        </p>
      </div>
    </div>

  </div>
</section>