<section class="section">
  <div class="container">

    <div class="row">
      <div class="col w-2/12 ml-2/12">
        <p class="font-sub">
          Client
        </p>
        <ul class="font-sub text-grey">
          <li>Mag Architecten</li>
        </ul>
      </div>
      <div class="col w-2/12">
        <p class="font-sub">
          Services
        </p>
        <ul class="font-sub text-grey">
          <li>Strategy</li>
          <li>Branding</li>
          <li>Website</li>
          <li>Copywriting</li>
        </ul>
      </div>
    </div>

  </div>
</section>