<section class="py-12">
  <div class="container">
  
  <div class="row">
  <div class="col w-8/12 mx-2/12">
    <blockquote class="font-h3 mb-4">
      “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”
    </blockquote>
    <p class="font-sub text-grey">Quote</p>
  </div>
  </div>
  
  </div>
</section>