{% if sectionClass is not defined %}
  {% set sectionClass = [''] %}
{% endif %}

{% if text is not defined %}
  {% set text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit' %}
{% endif %}

<section class="section-md {{ sectionClass|join(' ') }}">
  <div class="container">
  
  <div class="row">
  <div class="col w-full md:w-10/12 md:mx-1/12 lg:w-8/12 lg:mx-2/12">
    <h1 class="font-h1">
      {{ text }}
    </h1>
  </div>
  </div>
  
  </div>
</section>