{% if sectionClass is not defined %}
  {% set sectionClass = [""] %}
{% endif %}

<section class="section-sm {{ sectionClass|join(' ') }}">

  <div class="container">
    <div class="row">
      <div class="col w-full">

        {% include "components/video.twig" with {
          size : "square",
          ratio: "strict"
        } %}

      </div>
    </div>
  </div>

</section>