{% set sites = craft.app.sites.allSites %}
{% set defaultSiteUrl = 'https://fffunction.studio/' %}

{% for item in sites %}
	{% if item.primary %}
		{% set defaultSiteUrl = item.baseUrl %}
	{% endif %}
{% endfor %}

<!DOCTYPE html>
<html class="bg-black" lang="en">
	<head>
		{% include "core/metadata.twig" %}

		{% hook "seo" %}
	</head>

	<body
		class="bg-black text-white">
		<!--<svg></svg>-->

		<div class="barba-wipe z-40"></div>

		{% include "components/cursor.twig" %}

		{% block header %}
			{% include "layout/header.twig" %}
		{% endblock %}

		<div class="main-wrapper z-10" data-barba="wrapper">
			<main class="main" data-barba="container" data-barba-namespace=""> {% block main %}{% endblock %}{% block scripts %}{% endblock %}
				</main>
			</div>

			{% block footer %}
				{% include "layout/footer.twig" %}
			{% endblock %}

			<script src="{{ defaultSiteUrl }}/dist/js/common.js"></script>
			<script src="{{ defaultSiteUrl }}/dist/js/main.js"></script>

			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148565228-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
function gtag()
{



dataLayer.push( arguments );



}
gtag( 'js', new Date() );

gtag( 'config', 'UA-148565228-1' );
			</script>
		</body>
	</html>
