<section class="hero relative anim-fade-out">

	<div class="container pointer-events-none relative z-10" style="transform: translateZ(100px)">

		<div class="row">
			<div class="col w-full md:w-10/12 fw:w-6/12 mx-auto flex justify-center">
				<div class="anim-hero">
					<div
						class="anim-hero-logo block absolute left-0 right-0 flex justify-center">
						{# <div class="w-full"> #}
						<span class="anime-hero-logo-item overflow-hidden">fff</span>
						<span class="anim-hero-shrinker left overflow-hidden">u</span>
						<span class="anim-hero-shrinker left overflow-hidden">n</span>
						<span class="anim-hero-shrinker left overflow-hidden">c</span>
						<span class="anim-hero-shrinker left overflow-hidden">t</span>
						<span class="anim-hero-shrinker left overflow-hidden">i</span>
						<span class="anim-hero-shrinker left overflow-hidden">o</span>
						<span class="anim-hero-shrinker left overflow-hidden">n</span>
						<span class="anime-hero-logo-item overflow-hidden">.s</span>
						<span class="anim-hero-shrinker right overflow-hidden">t</span>
						<span class="anim-hero-shrinker right overflow-hidden">u</span>
						<span class="anim-hero-shrinker right overflow-hidden">d</span>
						<span class="anim-hero-shrinker right overflow-hidden">i</span>
						<span class="anim-hero-shrinker right overflow-hidden">o</span>
						{# </div> #}
					</div>
					<div class="anim-hero-text block hidden">
						<h1 class="font-h1">
							{{ text }}
						</h1>
						<a class="text-regular pointer-events-auto anim-hero-link" href="#">
							<div class="wrapper">
								<div class="about-part">
									about the
								</div>
								<div class="fffunction-part">
									fffunction
								</div>
								<div class="studio-part">studio</div>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="container anim-perspective-wrapper absolute inset-0 flex items-center justify-center z-0" style="transform: translateZ(100px);">
		<div class="w-1/2 lg:w-5/12 fw:w-4/12">
			<div class="anim-perspective-card w-full" style="padding-top: 100%"></div>
		</div>
	</div>

</section>
