{% if size is not defined %}
  {% set size = "wide" %}
{% endif %}

{% if ratio is not defined %}
  {% set ratio = "original" %}
{% endif %}

{% if figureClass is not defined %}
  {% set figureClass = [""] %}
{% endif %}

<figure class="{{ ratio }} {{ size }} {{ figureClass|join(' ') }} landscape">
  <div class="figure-sizer"></div>
  <video autoplay="autoplay" muted="muted" loop="loop">
    <source src="{{ video.url }}" type="video/mp4">
  </video>
</figure>