{# Default page #}

{% extends "core/base.twig" %}

{% block main %}

  <div class="bg-black text-white pb-6">

    <div class="header-offset"></div>

    {% include "blocks/image-header.twig" with {
      ratio: 'strict'
    } %}

    <div class="pt-0 md:pt-6"></div>

    {% include "blocks/text-h3.twig" %}

    <div class="pt-6 md:pt-6"></div>

  </div>

  <div class="bg-white text-black">

    <div class="pt-12 md:pt-0"></div>

    {% include "blocks/text-h3.twig" with {
      text: 'Our services'
    } %}

    <div class="pt-6 md:pt-0"></div>

    <section class="pb-12 md:pb-6">
      <div class="container">

        {% for item in 1..3 %}
          
        <div class="row mb-1">
          <div class="col w-full md:w-10/12 md:ml-1/12 lg:ml-2/12">
            <p class="font-body font-bold">
              Strategy
            </p>
          </div>
        </div>
               
        <div class="row  {% if loop.index < (1..3)|length %}mb-12 md:mb-20{% endif %}">
          <div class="col w-full md:w-5/12 md:ml-1/12 lg:w-4/12 lg:ml-2/12">
            <p class="font-body">We ask questions, find answers and define goals that we’ll reach with a clear and thoughtful strategy.</p>
          </div>

          <div class="col w-full pt-6 md:pt-0 md:w-5/12 md:ml-1/12 lg:w-4/12 lg:ml-0">
            <p class="font-sub text-grey">
              Branding<br>
              Communcation Strategy<br>
              Analysis
            </p>
          </div>
        </div>

        {% endfor %}

      </div>
    </section>

    {% include "blocks/text-h3.twig" with {
      text: 'The team'
    } %}

    {% include "blocks/portraits.twig" with {
    } %}

    <section class="pt-6 pb-24 md:pb-32">
    <div class="container">
    
    <div class="row">
    <div class="col w-full md:w-10/12 md:ml-2/12">
    <p class="text-grey font-body">
      Job offer
    </p>
    <p class="font-h2 font-medium">
      Junior Designer (fulltime)
    </p>
    </div>
    </div>
    
    </div>
    </section>

  </div>

{% endblock %}