{# Default page #}

{% extends "core/base.twig" %}

{% block main %}

  <div class="bg-black text-white min-h-screen">

    <div class="header-offset"></div>

    {% include "blocks/text-h2.twig" with {
      subtitle: entry.subtitle,
      text: entry.introText,
      sectionClass: 'lg:mt-6'
    } %}

    {% include "blocks/image.twig" with {
      size: 'wide',
      ratio: 'original',
      image: entry.headerImage.one()
    } %}

{# blocks start #}
{# blocks end #}



  </div>

  <style>
  .footer-main {
    display: none;
  }
  </style>

{% endblock %}
