{# Default page #}

{% extends "core/base.twig" %}

{% block main %}

  <section class="section header-offset"></section>

  <section class="section">
    <div class="container">
      <div class="row">

        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        <div class="col w-1/12">
          <div class="w-full h-20 bg-red-500"></div>
        </div>
        
      </div>
    </div>
  </section>

  {% include "blocks/text-h3.twig" %}

  {% include "blocks/text-h1.twig" %}

  {% include "blocks/text-h2.twig" %}

  {% include "blocks/text-h2.twig" with {
    subtitle: 'subtitel'
  } %}

  {% include "blocks/text-details.twig" %}

  {% include "blocks/text-paragraph.twig" %}

  {% include "blocks/text-thin-paragraph.twig" %}

  {% include "blocks/text-quote.twig" %}

  {% include "blocks/image-header.twig" %}

  {% include "blocks/image.twig" with {
    size : "wide"
  } %}

  {% include "blocks/image.twig" with {
    size : "full"
  } %}

  {% include "blocks/image.twig" with {
    size : "margin"
  } %}

  {% include "blocks/slider.twig" with {} %}

  {% include "blocks/slider-full.twig" with { 

  } %}

  {% include "blocks/image.twig" with {
    size : "margin"
  } %}

{% endblock %}