{# Default page #}
{% set activePage = 'Home' %}

{% extends "core/base.twig" %}

{% block main %}
  <div class="bg-black text-white min-h-screen">

    {% include "components/hero.twig" with { 
      text: entry.hero
    } %}

    {% for item in entry.caseHighlights.all() %}

      {% include "components/case-highlight.twig" with {
        link: item.linkedCase.one().url(),
        image: item.image.one(),
        text: item.text,
        subtext: item.subtext,
        sectionClass: 'anim-move-in'
      } %}

    {% endfor %}

    {% if  entry.journalHighlights.all()|length > 0 %}

    {% include "components/journal-highlight.twig" with {
      journalHighlights: entry.journalHighlights.all(),
      sectionClass: 'anim-move-in'
    } %}
    
    {% endif %}

    {% include "blocks/blocks.twig" with {
      blocks: entry.blocks.all()
    } %}

  </div>

  <div class="pt-12 lg:pt-0 bg-black"></div>

{% endblock %}