{# Default page #}

{% extends "core/base.twig" %}

{% block main %}
  <div class="bg-black text-white min-h-screen">

    {% include "components/hero.twig" with { 
      text: entry.hero
    } %}

    {% for item in entry.caseHighlights.all() %}

      {% include "components/case-highlight.twig" with {
        link: item.linkedCase.one().url(),
        image: item.image.one(),
        text: item.text,
        subtext: item.subtext
      } %}

    {% endfor %}

    {% include "components/journal-highlight.twig" with {
      journalHighlights: entry.journalHighlights.all()
    } %}

  </div>

{% endblock %}