{# Default page #}

{% extends "core/base.twig" %}

{% block main %}
  <div class="bg-black text-white min-h-screen">

    <div class="header-offset"></div>
    
    {% include "blocks/blocks.twig" with {
      blocks: entry.blocks.all()
    } %}

  </div>

      <div class="pt-12 lg:pt-0 bg-black"></div>

{% endblock %}