/* grid */
$section-offset-sm: 24px;
$section-offset-md: 48px;
$section-offset-lg: 96px;
$gutter-sm: 12px;
$gutter-lg: 44px;
$gutter-fw: 64px;
$site-max-width: 100rem;
$site-offset-sm: 24px;
$site-offset-lg: 30px;
$site-offset-fw: 96px;
/* timing */
$short: 300ms;
$medium: 600ms;
$long: 900ms;
/* elements */
$header-height: calc($site-offset-lg + 2rem);
/*  */
$burger-width: 1.5em;
$burger-height: 1em;
/*  */
$white: #F9F9F9;
$black: #0D0D0D;
$grey: #9E9E9E;