/* grid */
$section-offset-sm: 24px;
$section-offset-lg: 48px;
$gutter-sm: 12px;
$gutter-lg: 44px;
$site-max-width: 100rem;
$site-offset-sm: 24px;
$site-offset-lg: 30px;
/* timing */
$short: 300ms;
$medium: 600ms;
$long: 900ms;
/* elements */
$header-height: calc($site-offset-lg + 2rem);
/*  */
$burger-width: 1.5em;
$burger-height: 1em;