{# Default page #}

{% extends "core/base.twig" %}

{% block main %}

  <div class="bg-black text-white min-h-screen">

    <div class="header-offset"></div>

    {% include "blocks/image-header.twig" with { 
      image: entry.headerImage.one()
    } %}

    {% for item in entry.blocks.all() %}

      {% if item.type == "h1" %}

        {% include "blocks/text-h1.twig" with {
          text: item.text
        } %}

      {% elseif item.type == 'h2' %}

        {% include "blocks/text-h2.twig" with {
          subtitle: item.subtitle,
          text: item.text
        } %}

      {% elseif item.type == 'h3' %}

        {% include "blocks/text-h3.twig" with {
          text: item.text
        } %}

      {% elseif item.type == 'paragraph' %}

        {% include "blocks/text-paragraph.twig" with {
          text: item.text
        } %}
      
      {% elseif item.type == 'thinParagraph' %}
      
        {% include "blocks/text-thin-paragraph.twig" with {
          text: item.text
        } %}

      {% elseif item.type == 'quote' %}
      
        {% include "blocks/text-quote.twig" with {
          text: item.text
        } %}

      {% elseif item.type == 'footnote' %}
      
        {% include "blocks/text-footnote.twig" with {
          text: item.text
        } %}

      {% elseif item.type == 'image' %}
      
        {% include "blocks/image.twig" with {
          image: item.image.one(),
          size: item.size,
          ratio: 'original'
        } %}

      {% endif %}

    {% endfor %}

    {% set cases = craft.entries.section("cases").all() %}
    {% set index = 0 %}

    {% for item in cases %}

      {% if item.id == entry.id %}
        {% set index = loop.index0 %}
      {% endif %}

    {% endfor %}

    {% set indexNext = index + 1 %}
    {% if indexNext >= cases | length %}
      {% set indexNext = 0 %}
    {% endif %}

    <div class="pt-24 pb-40">
      <div class="container">
        <div class="row">
          <div class="col w-8/12 mx-auto">
            <p class="font-h2">
              <a href="{{ cases[indexNext].url }}" class="anim-underline-in">
                Next case
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}