{# Default page #}

{% extends "core/base.twig" %}

{% block main %}

	<div class="bg-white text-black min-h-screen">

		<div class="header-offset"></div>

		{% for content in entry.goodsContent.all() %}

			{% if content.type == "text" %}

				{% include "blocks/text-paragraph-extended.twig" with {
					paragraph: content.paragraph
				} %}

			{% elseif content.type == "titleBlock" %}

				{% include "blocks/text-h2.twig" with {
					text: content.text
				} %}

			{% elseif content.type == "images" %}

				{% for image in content.images.all() %}

					{% include "blocks/image.twig" with {
						size: 'margin',
						ratio: 'original',
						sectionClass: 'section-md',
						image: image
					} %}

				{% endfor %}

			{% elseif content.type == "slider" %}

				{% if content.showNextSlide %}
					{% include "blocks/slider-full.twig" with {
					slides: content.slides.all()
				} %}
				{% else %}
					{% include "blocks/slider.twig" with {
				slides : content.slides.all()
			} %}
				{% endif %}

			{% elseif content.type == "html" %}

				<section class="section-md">
					<div class="container">

						<div class="row">
							<div class="col w-full md:w-10/12 md:mx-1/12 lg:w-8/12 lg:mx-2/12">
								<div class="font-paragraph">
									{{ content.html|raw }}
								</div>
							</div>
						</div>

					</div>
				</section>

			{% elseif content.type == "ctaButton" %}

				{% include "blocks/cta-button.twig" with {
					text: content.text,
					buttonLabel: content.buttonLabel
				} %}

			{% elseif content.type == "fullWidthImage" %}

				{% include "blocks/image.twig" with {
					size: 'wide',
					ratio: 'fixed-ratio',
					sectionClass: 'section-lg',
					image: content.image.first()
				} %}

			{% elseif content.type == "buyButton" %}

				{% include "blocks/buy-button.twig" with {
					text: content.text,
					cost: content.cost,
					subject: entry.title,
					email: content.email,
				} %}

			{% endif %}

		{% endfor %}

	</div>
	<div class="pt-12 bg-white"></div>
	<div class="pt-12 lg:pt-0 bg-black"></div>

{% endblock %}
