.anim-logo {

  .anim-logo-item {
    display: block;
    float: left;
    overflow: hidden;

    &.left,
    &.right {
      width: 0;
    }
  }

  /* &:hover .anim-logo {
    float: left;
    overflow: hidden;
    width: 1em;
  } */


}

.anim-logo-calc {

  .anim-logo-calc-item {
    display: block;
    float: left;
    overflow: hidden;
  }

  /* &:hover .anim-logo {
    float: left;
    overflow: hidden;
    width: 1em;
  } */


}

